# core deeplearning
# --index-url https://download.pytorch.org/whl/cu117
# torch==2.0.0+cu117
# torchvision==0.15.1+cu117

# management
# ultralytics @ git+https://github.com/muhammadAgfian96/ultralytics.git@5560391dd94556f0f9aaefbdf1bf8b887b8bd0a2
# ultralytics @ git+https://github.com/muhammadAgfian96/ultralytics.git@disable-default-clearml#egg=ultralytics
ultralytics==8.0.161
clearml==1.12.2

# images
opencv-python-headless>=4.8.0.76
Pillow
numpy
pandas

# data
albumentations 
label-studio-sdk==0.0.24
label-studio-converter==0.0.53
cvat-sdk==2.6.0
roboflow
boto3
gsutil 
requests
pycocotools>=2.0.6

# utils
rich
tqdm
pyYAML
python-dotenv==1.0.0

# formats models
coremltools 
onnx 
onnx-simplifier 
onnxruntime
openvino-dev>=2022.3
# nvidia-tensorrt
# tensorflow 
# tensorflowjs